*.swp
*.back
.vscode
lesson01/assignment/unittests/test_assistance.py
lesson01/douglas-klos.lesson01.assignment.zip
lesson02/assignment/src/douglas-klos.lesson02.assignment.zip
lesson02/assignment/src/out.json
lesson02/assignment/src/out.json.bad
lesson03/douglas-klos.lesson03.assignment.zip
lesson03/assignment/peewee/HPNorton.db
lesson04/assignment/peewee/HPNorton.db
lesson04/assignment/peewee/src/HPNorton.db
lesson04/assignment/sqlalchemy/src/HPNorton.db
lesson04/assignment/sqlalchemy/HPNorton.db
lesson06/assignment/data/dataset.csv
lesson04/douglas-klos.lesson04.assignment.zip
lesson05/douglas-klos.lesson05.assignment.zip
lesson06/douglas-klos.lesson06.assignment.zip
lesson07/douglas-klos.lesson07.assignment.zip
lesson08/douglas-klos.lesson08.assignment.zip
lesson09/douglas-klos.lesson09.assignment.zip
lesson10/douglas-klos.lesson10.assignment.zip
