*.swp
*.back
.vscode
lesson01/assignment/unittests/test_assistance.py
lesson01/douglas-klos.lesson01.assignment.zip
lesson02/assignment/src/douglas-klos.lesson02.assignment.zip
lesson02/assignment/src/out.json
lesson02/assignment/src/out.json.bad
lesson03/douglas-klos.lesson03.assignment.zip
lesson03/assignment/peewee/HPNorton.db
lesson04/assignment/HPNorton.db
lesson04/assignment/src/HPNorton.db
